/* write your override styles here */
#wall .tag-1 {
    display:none
  } 
#wall div#tag-2{
    display: none;
  }
#wall div#tag-3.slick.wicked{
  display:none
}
#wall div#tag-4{
  display:none
}
#wall div.parent >div.slick#tag-5{
  display:none
}
#wall div.parent div + div{
  display:none
}
#wall div.parent div {
  display:none
}
